.square {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 4px 4px 8px;
    border: 1px solid black;
    overflow: hidden;
}

.square:has(.final) {
    padding: 0;
}

.picture {
    width: 70%;
    height: 70%;
}

.final {
    width: 100%;
    height: 100%; 
     
}

.piece {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

.piecePosition0 {
    bottom: 2px;
    left: 2px;
}

.piecePosition1 {
    bottom: 18px;
    left: 2px;
}

.piecePosition2 {
    bottom: 34px;
    left: 2px;
}

.piecePosition3 {
    bottom: 50px;
    left: 2px;
}

.piecePosition4 {
    bottom: 2px;
    left: 18px;
}

.piecePosition5 {
    bottom: 18px;
    left: 18px;
}

.piecePosition6 {
    bottom: 34px;
    left: 18px;
}

.piecePosition7 {
    bottom: 50px;
    left: 18px;
}

.piecePosition8 {
    bottom: 2px;
    right: 2px;
}

.piecePosition9 {
    bottom: 18px;
    right: 2px;
}

.piecePosition10 {
    bottom: 34px;
    right: 2px;
}

.piecePosition11 {
    bottom: 50px;
    right: 2px;
}

.piecePosition12 {
    bottom: 2px;
    right: 18px;
}

.piecePosition13 {
    bottom: 18px;
    right: 18px;
}

.piecePosition14 {
    bottom: 34px;
    right: 18px;
}

.piecePosition15 {
    bottom: 50px;
    right: 18px;
}

.square0 {
    grid-area: square0;
    &::before {
        content: '';
    position: absolute;
    width: 100%;
    height: var(--guiderail-height);
    top: 0;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(46,46,46,1) 100%);
    }
}

.square1 {
    grid-area: square1;
    &::before {
        content: '';
    position: absolute;
    width: 100%;
    height: var(--guiderail-height);
    top: 0;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(46,46,46,1) 100%);
    }
}

.square2 {
    grid-area: square2;
    &::before {
        content: '';
    position: absolute;
    width: 100%;
    height: var(--guiderail-height);
    top: 0;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(46,46,46,1) 100%);
    }
}

.square3 {
    grid-area: square3;
    &::before {
        content: '';
    position: absolute;
    width: 100%;
    height: var(--guiderail-height);
    top: 0;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(46,46,46,1) 100%);
    }
}

.square4 {
    grid-area: square4;
    &::before {
        content: '';
    position: absolute;
    width: 100%;
    height: var(--guiderail-height);
    top: 0;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(46,46,46,1) 100%);
    }
}

.square5 {
    grid-area: square5;
    &::before {
        content: '';
    position: absolute;
    width: 100%;
    height: var(--guiderail-height);
    top: 0;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(46,46,46,1) 100%);
    }
}

.square6 {
    grid-area: square6;
    &::before {
        content: "";
        position: absolute;
        width: var(--guiderail-height);
        height: var(--guiderail-height);
        top: 0;
        right: 0;
        background: linear-gradient(45deg, rgb(255, 255, 255) 50%, rgb(46, 46, 46) 94%);
    }
}

.square7 {
    grid-area: square7;
    &::before {
        content: '';
    position: absolute;
    width: var(--guiderail-height);
    height: 100%;
    top: 0;
    right: 0;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(46,46,46,1) 100%);
    }
}

.square8 {
    grid-area: square8;
    &::before {
        content: '';
    position: absolute;
    width: var(--guiderail-height);
    height: 100%;
    top: 0;
    right: 0;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(46,46,46,1) 100%);
    }
}

.square9 {
    grid-area: square9;
    &::before {
        content: '';
    position: absolute;
    width: var(--guiderail-height);
    height: 100%;
    top: 0;
    right: 0;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(46,46,46,1) 100%);
    }
}

.square10 {
    grid-area: square10;
    &::before {
        content: "";
        position: absolute;
        width: var(--guiderail-height);
        height: var(--guiderail-height);
        bottom: 0;
        right: 0;
        transform: rotate(180deg);
        background: rgb(255, 255, 255);
        background: linear-gradient(315deg, rgb(255, 255, 255) 40%, rgb(46, 46, 46) 94%);
    }
}

.square11 {
    grid-area: square11;
    &::before {
        content: '';
    position: absolute;
    width: 100%;
    height: var(--guiderail-height);
    bottom: 0;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(46,46,46,1) 100%);
    }
}

.square12 {
    grid-area: square12;
    &::before {
        content: '';
    position: absolute;
    width: 100%;
    height: var(--guiderail-height);
    bottom: 0;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(46,46,46,1) 100%);
    }
}

.square13 {
    grid-area: square13;
    &::before {
        content: '';
    position: absolute;
    width: 100%;
    height: var(--guiderail-height);
    bottom: 0;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(46,46,46,1) 100%);
    }
}

.square14 {
    grid-area: square14;
    &::before {
        content: '';
    position: absolute;
    width: 100%;
    height: var(--guiderail-height);
    bottom: 0;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(46,46,46,1) 100%);
    }
}

.square15 {
    grid-area: square15;
    &::before {
        content: '';
    position: absolute;
    width: 100%;
    height: var(--guiderail-height);
    bottom: 0;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(46,46,46,1) 100%);
    }
}

.square16 {
    grid-area: square16;
    &::before {
        content: "";
        position: absolute;
        width: var(--guiderail-height);
        height: var(--guiderail-height);
        bottom: 0;
        left: 0;
        transform: rotate(270deg);
        background: linear-gradient(315deg, rgb(255, 255, 255) 40%, rgb(46, 46, 46) 94%);
    }
}

.square17 {
    grid-area: square17;
    &::before {
        content: '';
    position: absolute;
    width: var(--guiderail-height);
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(46,46,46,1) 100%);
    }
}

.square18 {
    grid-area: square18;
    &::before {
        content: '';
    position: absolute;
    width: var(--guiderail-height);
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(46,46,46,1) 100%);
    }
}

.square19 {
    grid-area: square19;
    &::after {
        content: "";
        position: absolute;
        width: var(--guiderail-height);
        height: var(--guiderail-height);
        top: 0;
        left: 0;
        background: linear-gradient(315deg, rgb(255, 255, 255) 40%, rgb(46, 46, 46) 94%);
    }
}

.square20 {
    grid-area: square20;
    &::after {
        content: '';
    position: absolute;
    width: 100%;
    height: var(--guiderail-height);
    top: 0;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(46,46,46,1) 100%);
    }
}

.square21 {
    grid-area: square21;
    &::after {
        content: '';
    position: absolute;
    width: 100%;
    height: var(--guiderail-height);
    top: 0;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(46,46,46,1) 100%);
    }
}

.square22 {
    grid-area: square22;
    &::after {
        content: '';
    position: absolute;
    width: 100%;
    height: var(--guiderail-height);
    top: 0;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(46,46,46,1) 100%);
    }
}

.square23 {
    grid-area: square23;
    &::after {
        content: '';
    position: absolute;
    width: 100%;
    height: var(--guiderail-height);
    top: 0;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(46,46,46,1) 100%);
    }
}

.square24 {
    grid-area: square24;
    &::after {
        content: "";
        position: absolute;
        width: var(--guiderail-height);
        height: var(--guiderail-height);
        top: 0;
        right: 0;
        background: linear-gradient(45deg, rgb(255, 255, 255) 50%, rgb(46, 46, 46) 94%);
    }
}

.square25 {
    grid-area: square25;
    &::before {
        content: '';
    position: absolute;
    width: var(--guiderail-height);
    height: 100%;
    top: 0;
    right: 0;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(46,46,46,1) 100%);
    }
    
}

.square26 {
    grid-area: square26;
    &::after {
        content: "";
        position: absolute;
        width: var(--guiderail-height);
        height: var(--guiderail-height);
        bottom: 0;
        right: 0;
        transform: rotate(180deg);
        background: rgb(255, 255, 255);
        background: linear-gradient(315deg, rgb(255, 255, 255) 40%, rgb(46, 46, 46) 94%);
    }
}

.square27 {
    grid-area: square27;
    &::before {
        content: '';
    position: absolute;
    width: 100%;
    height: var(--guiderail-height);
    bottom: 0;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(46,46,46,1) 100%);
    }
}

.square28 {
    grid-area: square28;
    &::before {
        content: '';
    position: absolute;
    width: 100%;
    height: var(--guiderail-height);
    bottom: 0;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(46,46,46,1) 100%);
    }
}

.square29 {
    grid-area: square29;
    &::before {
        content: '';
    position: absolute;
    width: 100%;
    height: var(--guiderail-height);
    bottom: 0;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(46,46,46,1) 100%);
    }
}

.square30 {
    grid-area: square30;
}

.square31 {
    grid-area: square31;
}

